@model List<iGob.Entidades.beMarcas>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<button class="btn btn-secondary new-marca">Nueva Marca</button>
<br /><br />
      <div>
          <table class="table table-bordered table-hover" id="tableCatalogos">
              <thead align="center">
                  <tr>
                      <th><strong> Acciones </strong></th>
                      <th><strong> Marca </strong></th>
                      <th><strong> Abreviatura </strong></th>
                  </tr>
              </thead>
              <tbody align="center">
                  @foreach (var item in Model)
                  {
                      <tr>
                          <td>
                              <div class="form-group" style="min-width:100px;">
                                  <a title="Eliminar registro" id="@item.IdMarca" data-title="@item.Marca" class="btn btn-secondary btn-circle delete-marca btn-sm"><span class="icon-garbage-2"></span></a>
                                  <a title="Editar registro" id="@item.IdMarca" data-title="@item.Marca" data-abreviatura="@item.Abreviatura" class="btn btn-secondary btn-circle edit-marca btn-sm"><span class="icon-edit"></span></a>
                              </div>
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.Marca)
                          </td>
                          <td>
                              @Html.DisplayFor(modelItem => item.Abreviatura)
                          </td>
                      </tr>
                  }
              </tbody>
          </table>
      </div>
@{
    Html.RenderPartial("EditDeleteModals");
}

@section scripts{
    <script src="~/Scripts/Catalogos/AccionesMarca.js"></script>
}