@model IGOB.Models.Requisicion
@using (Html.BeginForm(null, null, FormMethod.Post, new { @Class = "data-form", @id = "div_Requisitos_Adicionales_CLienteForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <input type="hidden" id="IdManifiestoProveedor" name="IdManifiestoProveedor" value="@Model.oManifiestoProveedoresClientes.IdManifiestoProveedor" />
    <input type="hidden" id="IdManifiestoProveedorCliente" name="IdManifiestoProveedorCliente" value="@Model.oManifiestoProveedoresClientes.IdManifiestoProveedorCliente" />
    <input type="hidden" id="IdProveedorRqInvitacion" name="IdProveedorRqInvitacion" value="@Model.oManifiestoProveedoresClientes.IdProveedorRqInvitacion" />
    <input type="hidden" id="IdRequisicion" name="IdRequisicion" value="@Model.oManifiestoProveedoresClientes.IdRequisicion" />

    <div class="row form-group">
        <div class="col-md-2 text-right">*Cliente:</div>
        <div class="col-md-4 text-left"> <input type="text" class="form-control" name="NombreCliente" id="Producto" value="@Model.oManifiestoProveedoresClientes.NombreCliente" required></div>
        <div class="col-md-2 text-right">*Dirección:</div>
        <div class="col-md-4 text-left"> <input type="text" class="form-control" name="DirecionCliente" id="DirecionCliente" value="@Model.oManifiestoProveedoresClientes.DirecionCliente" required></div>
    </div>

    <div class="row form-group">
        <div class="col-md-2 text-right"><label for="TelefonoCliente">*Teléfono(999-999-9999):</label></div>
        <div class="col-md-4 text-left"><input type="tel" class="form-control" name="TelefonoCliente" maxlength="12" id="TelefonoCliente" value="@Model.oManifiestoProveedoresClientes.TelefonoCliente" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="999-999-9999"></div>
        <div class="col-md-2 text-right"></div>
        <div class="col-md-4 text-left"></div>
    </div>
}
